.gpt3__features-container-title div{
    width:38px;
    height:3px;
    background: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%), #FFFFFF;
    box-shadow: 0 4px 4px rgba(0,0,0,0);
    
}
.gpt3__features-container-title h1{
font-family: var(--font-family);
font-style: normal;
font-weight: 800;
font-size: 24px;
line-height: 75px;

/* identical to box height, or 312% */
letter-spacing: -0.04em;

color: #FFFFFF;


}

.gpt3__features-container_feature-text{
   


font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 30px;

/* or 188% */

color: #81AFDD;


}

.gpt3__features-container{
width: 100%;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: space-between;
}

.gpt3__features-container-title{
    flex: 1;
    max-width: 180px;
    margin-right: 2rem;
}